body {
    min-height: 500vh;
    margin: 0;
  }
  
  section {
    height: 500vh;
    position: relative;
  }
  
  .pin {
    position: relative;
    height: 100vh;
  }
  
  h2 {
    font-size: 3rem;
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .spacer {
    height: 60vh;
    background-color:black
  }